
.table{
    border-spacing: Opx;
    width: 100%;
    color: white;
}
.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);

}
.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em ;
    
}

input{

    display: inline;
 
 }

.table td > a.delete:hover{
    background-color: red;
}

.table td > a.btn:hover{
    box-shadow: none;
}
.table tr:hover{
    background-color: rgb(139, 139, 139);
}

.table .thead th{
color: black;
background-color: white;
border-color: #32383e;
}

@media only screen and (max-width:1024px){
    table, thead, tbody, th ,td ,tr {
        display: block;
    }
    thead tr{
        position:absolute;
        top: -9999px;
        left: -9999px;

    }
    tr{
        border: 0.5px solid ;
    }
    td{
        border-bottom: 0.5px solid ;
        position: relative;
    }
}